{% capture text %}
## about

What is things i drew? It’s literally things I drew—  with a focus on thoughtful and personalized design.

I believe that design is the most important part of paper goods. After creating my personal wedding stationery, I started things i drew in Brooklyn, New York to make unique paper goods that celebrate you, the couple. Each union is truly one of a kind, and I'd like for clients to have a specially-made announcement that fits their event perfectly.

Everything is done by hand, from illustrations, calligraphy, down to the last wax seal. All print production takes place locally in NYC while paper is sourced from as many eco-friendly materials as I can get. And because it’s only me running things i drew, you get my full attention and quick interaction from beginning to end.

So let’s talk love and drawings.

Amy WH
{% endcapture text %}

{% capture content %}
{% include blocks/multi-column.html left=text half=true %}
{% endcapture content %}

{% include blocks/section.html content=content color=include.color %}
