.multi-column {
  margin: 0 auto;
}

@media only screen  and (min-width : 800px) {
  .multi-column {
    display: flex;
    justify-content: center;
    max-width: 800px;
  }

  .multi-column--narrow {
    max-width: 300px;
  }

  .multi-column--half {
    max-width: 400px;
  }

  .multi-column:not(:last-child) {
    margin-bottom: $std-padding;
  }

  .multi-column__col {
    flex: 1;
  }

  .multi-column__col:not(:last-child) {
    margin-right: $std-padding * 2;
  }
}
