$mobile-max-width: 500px;
$tablet-max-width: 800px;
$desktop-max-width: 800px;

$mobile-header-height: 130px;
$default-header-height: 80px;

$site-font-color: #263238;
$site-background: #F9F9F9;

$site-box-shadow: 0 1px 10px rgba(11, 44, 70, 0.2);

$base-font-size: 0.86em;
$header-font-size: 1.4em;
