.nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px;
  color: white;
  font-size: 1.3em;
  background: #E6D8D0;
  transition:
    background 300ms ease-out,
    box-shadow 300ms ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0);
}

.nav--sticky {
  position: fixed;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.nav__item {
  cursor: pointer;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}
