---
layout: base
---

<div class="site">
  <div class="site__header-wrapper">
    <div class="site__header {% if page.fullBleed %}site__header--full-bleed{% endif %}">
      {% if page.fullBleed %}
      {% else %}
        <a class="site__header-logo" href="/">
          <img class="site__header-logo-img" src="/assets/ui/amethystwh-logo.png" />
        </a>
        <div class="site__header-nav">
          {% include nav.html %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="site__content">
    {% if page.fullBleed %}
      <div class="site__content-nav">
        {% include nav.html %}
      </div>
    {% endif %}

    {{ content }}

    <div class="site__footer">
      {% include footer.html %}
    </div>
  </div>
</div>
